@import "../variables";

.btn {
  border-radius: 10px;
  border: none;
  font: $btn-font;
  padding: 27px 100px 19px 100px;
  text-transform: uppercase;
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  display: inline-block;

  &.btn_primary {
    background: $primary;
    &:hover {
      background: $primary-light;
    }

    &.btn_outline {
      background: none;
      color: $primary !important;
      border: 2px solid $primary;
      &:hover {
        background: $primary;
        color: white !important;
      }
    }
  }

  &.btn_secondary {
    background: $secondary;
    &:hover {
      background: $secondary-dark;
    }
  }

  &.btn_danger {
    background: $danger;
    &:hover {
      background: darken($danger, 10%);
    }
  }

  &.btn_warning {
    background: $warning;
    color: $dark!important;
    &:hover {
      background: darken($warning, 10%);
    }
  }

  &.btn_sm {
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    padding: 16px 100px 12px 100px;
  }
}