@import "../variables";

.input {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;

  input, textarea {
    width: 100%;
    color: $dark;
    background: none;
    border: 2px solid $gray-light;
    border-radius: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
    font-size: 20px;

    &::placeholder {
      color: $gray;
    }
  }

  label {
    font-size: 11px;
    position: absolute;
    color: $gray;
    top: -20px;
    left: 17px;
  }
}

.input_btn {
  display: flex;

  .btn {
    margin-left: -15px;
  }
}

.input_light {
  input, textarea {
    color: white;

    &::placeholder {
      color: white;
    }
  }

  label {
    color: white;

  }
}

.input-cb {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;

  label {
    margin-bottom: 0;
    padding-left: 35px;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    & ~ label {
      cursor: pointer;
      align-items: center;

      &::before {
        content: "";
        flex-shrink: 0;
        color: inherit;
        border: none !important;
        box-shadow: none !important;
        align-items: center;
        font-size: 25px;
        line-height: 1;
        transition: transform 0.1s ease-in;
        border-radius: 0;
        background: #00000030;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 25px;
        font-weight: 900;
        text-align: center;
        position: absolute;
        margin: auto;
      }

      &::after {
        content: none !important;
      }

    }

    &:checked ~ label::before {
      content: "";
      background: url('/images/index/icon-check.svg') no-repeat center;
      background-size: 100% 100%;
      width: 25px;
      height: 25px;
    }

    &:active ~ label::before {
      transform: scale(0.8);
    }
  }
}

.input-cb_sm {
  label {
    font-size: 11px;
    line-height: 14px;
    padding-left: 25px;
  }

  input[type=checkbox] {
    & ~ label::before {
      width: 16px;
      height: 16px;
    }

    &:checked ~ label::before {
      content: "";
      background: url('/images/index/icon-check.svg') no-repeat center;
      background-size: 100% 100%;
      width: 16px;
      height: 16px;
    }
  }
}