@import "../variables";

html {
  font: $base-font;

}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font: $h1-font;
  margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
  font: $h2-font;
  margin-bottom: $h2-margin-bottom;
}

h3, .h3 {
  font: $h3-font;
  margin-bottom: $h3-margin-bottom;
}

h4, .h4 {
  font: $h4-font;
  margin-bottom: $h4-margin-bottom;
}

h5, .h5 {
  font: $h5-font;
  margin-bottom: $h5-margin-bottom;
}

.h6 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.subtitle-sm {
  font-size: 14px;
  font-weight: 300;
}

small, .small {
  font-size: 12px;
}

.extra-small {
  font-size: 11px;
}

@include respond-to(sm) {
  h1, .h1 {
    font: $h1-font-sm;
  }

  h2, .h2 {
    font: $h2-font-sm;
  }

  h3, .h3 {
    font: $h3-font-sm;
  }

  h4, .h4 {
    font: $h4-font-sm;
  }

  h5, .h5 {
    font: $h5-font-sm;
  }
}

a {
  color: #0538A1;
}