.project__splitter{
    margin: 70px 0;
}

.project__list{
    list-style: none;
    padding: 0;
    margin: 0;

    .list__item{
        margin-bottom: 36px;
    }
}

.project__header{
    font-size: 24px;
}

.project__review{
    box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 10px 10px;
    margin-bottom: 100px;

    .review__image{
        border-radius: 10px;
        display: flex;
        img{
            border-radius: 10px;
        }
    }

    .review__gradient{
        width: 100%;
        height: 100%;
        background: linear-gradient(134.49deg, rgba(193, 196, 215, 0.6) -10.84%, rgba(193, 196, 215, 0) 46.31%);;
        position: absolute;
        border-radius: 10px;
    }

    .review__date{
        position: absolute;
        left: 28px;
        top: 22px;
        font-size: 16px;
        font-weight: bold;
        color: $primary;
    }

    .review__text{
        background: $primary;
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding: 22px 43px 24px 32px;
        margin-right: 15px;
    }

    .review__stars{
        color: $warning;
        font-size: 27px;
        margin-top: 15px;
    }

    .review__autor{
        line-height: 177%;
    }
}
 
