@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-ExtraLight.eot');
  src: local('Navigo ExtraLight'), local('Navigo-ExtraLight'),
  url('/fonts/Navigo-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-ExtraLight.woff2') format('woff2'),
  url('/fonts/Navigo-ExtraLight.woff') format('woff'),
  url('/fonts/Navigo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Thin.eot');
  src: local('Navigo Thin'), local('Navigo-Thin'),
  url('/fonts/Navigo-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Thin.woff2') format('woff2'),
  url('/fonts/Navigo-Thin.woff') format('woff'),
  url('/fonts/Navigo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Black.eot');
  src: local('Navigo Black'), local('Navigo-Black'),
  url('/fonts/Navigo-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Black.woff2') format('woff2'),
  url('/fonts/Navigo-Black.woff') format('woff'),
  url('/fonts/Navigo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Medium.eot');
  src: local('Navigo Medium'), local('Navigo-Medium'),
  url('/fonts/Navigo-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Medium.woff2') format('woff2'),
  url('/fonts/Navigo-Medium.woff') format('woff'),
  url('/fonts/Navigo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Light.eot');
  src: local('Navigo Light'), local('Navigo-Light'),
  url('/fonts/Navigo-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Light.woff2') format('woff2'),
  url('/fonts/Navigo-Light.woff') format('woff'),
  url('/fonts/Navigo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Regular.eot');
  src: local('Navigo Regular'), local('Navigo-Regular'),
  url('/fonts/Navigo-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Regular.woff2') format('woff2'),
  url('/fonts/Navigo-Regular.woff') format('woff'),
  url('/fonts/Navigo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Bold.eot');
  src: local('Navigo Bold'), local('Navigo-Bold'),
  url('/fonts/Navigo-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Navigo-Bold.woff2') format('woff2'),
  url('/fonts/Navigo-Bold.woff') format('woff'),
  url('/fonts/Navigo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$dark: rgba(#212126, 1);
$primary: rgba(#0538A1, 1);
$primary-light: rgba(#0070C9, 1);
$secondary: rgba(#4ADB9A, 1);
$secondary-dark: rgba(#38996D, 1);
$secondary-light: rgba(#86EFC0, 1);
$gray: rgba(#8F939E, 1);
$gray-light: rgba(#CBD0D8, 1);
$warning: rgba(#F2C94C, 1);
$danger: rgba(#EB5757, 1);

$base-font-name: Navigo;
$header-font-name: Navigo;

$body-color: $dark;

$btn-font: 700 18px/100% $base-font-name, sans-serif;

$base-font: 400 18px/normal $base-font-name, sans-serif;

$h1-font: 400 72px/100% $header-font-name, sans-serif;
$h1-font-sm: 400 48px/normal $header-font-name, sans-serif;
$h1-margin-bottom: 23px;

$h2-font: 700 48px/normal $header-font-name, sans-serif;
$h2-font-sm: 700 36px/normal $header-font-name, sans-serif;
$h2-margin-bottom: 33px;

$h3-font: 700 36px/normal $header-font-name, sans-serif;
$h3-font-sm: 700 24px/normal $header-font-name, sans-serif;
$h3-margin-bottom: 24px;

$h4-font: 700 24px/normal $header-font-name, sans-serif;
$h4-font-sm: 700 18px/normal $header-font-name, sans-serif;
$h4-margin-bottom: 18px;

$h5-font: 400 20px/130% $header-font-name, sans-serif;
$h5-font-sm: 400 18px/normal $header-font-name, sans-serif;
$h5-margin-bottom: 35px;

$spacers: (
        '6': $spacer*3.7 // 66px при 1rem=18px
);

$theme-colors: (
        "dark":$dark,
        "primary":$primary,
        "primary-light":$primary-light,
        "secondary":$secondary,
        "secondary-dark":$secondary-dark,
        "secondary-light":$secondary-light,
        "gray":$gray,
        "gray-light":$gray-light,
        "warning":$warning,
        "danger":$danger,
);

$container-max-widths: (
        xl: 1246px
);

$fa-font-path: "/fonts/fontawesome";

@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Write the media query.
    @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}