@import "../variables";

.article-card {
  background: #FFFFFF;
  box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
  position: relative;

  &:hover {
    .article-card__img {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(74, 219, 154, 0) -26.56%, #0538A1 122.85%), url(image.png);
      }
    }
  }
}

.article-card__date {
  position: absolute;
  top: 22px;
  left: 28px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

.article-card__img {
  height: 256px;
  background-size: cover;
}

.article-card__title {
  padding: 12px 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  height: 150px;
  background: rgba($primary, 0.97);
  margin: -80px 10px 10px;
  position: relative;
  z-index: 5;
}

.article-card__text {
  padding: 10px 25px 25px;
  font-size: 14px;
  font-weight: 300;
}