@import "../variables";

.certificates-block {
  background: rgba($gray-light, .2);
}

.certificates-block__img {
  box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
}

.certificates-block__cert-desc, .certificates-block__slider-controls {
  margin-top: -140px;
}

.certificates-block__slider-controls {
  position: relative;
  z-index: 5;
}

.certificates-block__swiper-container {
  overflow: visible;
}