.entry-block {
  padding-top: 111px;
  padding-bottom: 105px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.entry-block__slider-controls {
  position: absolute;
  bottom: -105px;
  right: 0;

  .slider-controls__prev {
    border-radius: 10px 0 0 0;
  }

  .slider-controls__next {
    border-radius: 0 10px 0 0;
  }
}