@import "../variables";

.object-selector {
  background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%);

  p:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.object-selector__nav {
  display: flex;
  width: 100%;
  list-style: none;
  font-weight: bold;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.object-selector__nav-item_active {
  color: $gray-light;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $primary;
    z-index: -1;
    top: -16px;
    left: -18px;
  }
}

.object-selector__nav-item_disabled {
  color: $gray-light;
  pointer-events: none;
}