@import "../variables";

.services-block {
}

.services-block__nav > li:not(:last-of-type) {
  position: relative;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    width: 86%;
    height: 1px;
    background: #cbd0d8;
    right: 0;
    bottom: -15px;
  }
}

.services-block__nav, .services-block__sub-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-block__sub-nav {
  margin-left: 55px;
}

.services-block__nav-item img {
  margin-right: 15px;
}

.services-block__nav-item, .services-block__sub-nav-item {
  display: block;
  margin-bottom: 15px;
}

.services-block__nav-item {
  color: $primary;
  display: flex;
  align-items: center;
}

.services-block__sub-nav-item {
  color: $dark;
}