@import "../variables";

.slider-controls {
  display: flex;
}

.slider-controls__prev, .slider-controls__next {
  padding: 18px;

  &:after {
    content: "";
    display: block;
    background: url('/images/index/icon-arrow-left.svg') no-repeat;
    width: 20px;
    height: 20px;
  }

  &.swiper-button-disabled {
    opacity: 0.7;
    cursor: auto;
  }
}

.slider-controls__prev {
  border-radius: 10px 0 0 10px;
}

.slider-controls__next {
  border-radius: 0 10px 10px 0;

  &:after {
    transform: rotate(180deg);
  }
}