@charset "UTF-8";
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body {
  overflow-x: hidden;
  font: 400 18px/normal Navigo, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  font: 400 18px/normal Navigo, sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font: 400 72px/100% Navigo, sans-serif;
  margin-bottom: 23px;
}

h2, .h2 {
  font: 700 48px/normal Navigo, sans-serif;
  margin-bottom: 33px;
}

h3, .h3 {
  font: 700 36px/normal Navigo, sans-serif;
  margin-bottom: 24px;
}

h4, .h4 {
  font: 700 24px/normal Navigo, sans-serif;
  margin-bottom: 18px;
}

h5, .h5 {
  font: 400 20px/130% Navigo, sans-serif;
  margin-bottom: 35px;
}

.h6 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.subtitle-sm {
  font-size: 14px;
  font-weight: 300;
}

small, .small {
  font-size: 12px;
}

.extra-small {
  font-size: 11px;
}

@media (max-width: 576px) {
  h1, .h1 {
    font: 400 48px/normal Navigo, sans-serif;
  }

  h2, .h2 {
    font: 700 36px/normal Navigo, sans-serif;
  }

  h3, .h3 {
    font: 700 24px/normal Navigo, sans-serif;
  }

  h4, .h4 {
    font: 700 18px/normal Navigo, sans-serif;
  }

  h5, .h5 {
    font: 400 18px/normal Navigo, sans-serif;
  }
}
a {
  color: #0538A1;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.input {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}
.input input, .input textarea {
  width: 100%;
  color: #212126;
  background: none;
  border: 2px solid #cbd0d8;
  border-radius: 10px;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 20px;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder {
  color: #8f939e;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  color: #8f939e;
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder {
  color: #8f939e;
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder {
  color: #8f939e;
}
.input input::placeholder, .input textarea::placeholder {
  color: #8f939e;
}
.input label {
  font-size: 11px;
  position: absolute;
  color: #8f939e;
  top: -20px;
  left: 17px;
}

.input_btn {
  display: -webkit-box;
  display: flex;
}
.input_btn .btn {
  margin-left: -15px;
}

.input_light input, .input_light textarea {
  color: white;
}
.input_light input::-webkit-input-placeholder, .input_light textarea::-webkit-input-placeholder {
  color: white;
}
.input_light input::-moz-placeholder, .input_light textarea::-moz-placeholder {
  color: white;
}
.input_light input:-ms-input-placeholder, .input_light textarea:-ms-input-placeholder {
  color: white;
}
.input_light input::-ms-input-placeholder, .input_light textarea::-ms-input-placeholder {
  color: white;
}
.input_light input::placeholder, .input_light textarea::placeholder {
  color: white;
}
.input_light label {
  color: white;
}

.input-cb {
  margin-bottom: 1rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  line-height: 1;
}
.input-cb label {
  margin-bottom: 0;
  padding-left: 35px;
}
.input-cb input:disabled + label {
  opacity: 0.5;
}
.input-cb input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.input-cb input[type=checkbox] ~ label {
  cursor: pointer;
  -webkit-box-align: center;
          align-items: center;
}
.input-cb input[type=checkbox] ~ label::before {
  content: "";
  flex-shrink: 0;
  color: inherit;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  border-radius: 0;
  background: #00000030;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  margin: auto;
}
.input-cb input[type=checkbox] ~ label::after {
  content: none !important;
}
.input-cb input[type=checkbox]:checked ~ label::before {
  content: "";
  background: url("/images/index/icon-check.svg") no-repeat center;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.input-cb input[type=checkbox]:active ~ label::before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.input-cb_sm label {
  font-size: 11px;
  line-height: 14px;
  padding-left: 25px;
}
.input-cb_sm input[type=checkbox] ~ label::before {
  width: 16px;
  height: 16px;
}
.input-cb_sm input[type=checkbox]:checked ~ label::before {
  content: "";
  background: url("/images/index/icon-check.svg") no-repeat center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.btn {
  border-radius: 10px;
  border: none;
  font: 700 18px/100% Navigo, sans-serif;
  padding: 27px 100px 19px 100px;
  text-transform: uppercase;
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  display: inline-block;
}
.btn.btn_primary {
  background: #0538a1;
}
.btn.btn_primary:hover {
  background: #0070c9;
}
.btn.btn_primary.btn_outline {
  background: none;
  color: #0538a1 !important;
  border: 2px solid #0538a1;
}
.btn.btn_primary.btn_outline:hover {
  background: #0538a1;
  color: white !important;
}
.btn.btn_secondary {
  background: #4adb9a;
}
.btn.btn_secondary:hover {
  background: #38996d;
}
.btn.btn_danger {
  background: #eb5757;
}
.btn.btn_danger:hover {
  background: #e62929;
}
.btn.btn_warning {
  background: #f2c94c;
  color: #212126 !important;
}
.btn.btn_warning:hover {
  background: #efbb1c;
}
.btn.btn_sm {
  font-size: 12px;
  text-transform: none;
  font-weight: 400;
  padding: 16px 100px 12px 100px;
}

.page-block {
  padding-top: 105px;
  padding-bottom: 105px;
}

.entry-block {
  padding-top: 111px;
  padding-bottom: 105px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.entry-block__slider-controls {
  position: absolute;
  bottom: -105px;
  right: 0;
}
.entry-block__slider-controls .slider-controls__prev {
  border-radius: 10px 0 0 0;
}
.entry-block__slider-controls .slider-controls__next {
  border-radius: 0 10px 0 0;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.services-block__nav > li:not(:last-of-type) {
  position: relative;
  margin-bottom: 30px;
}
.services-block__nav > li:not(:last-of-type):after {
  content: "";
  position: absolute;
  width: 86%;
  height: 1px;
  background: #cbd0d8;
  right: 0;
  bottom: -15px;
}

.services-block__nav, .services-block__sub-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-block__sub-nav {
  margin-left: 55px;
}

.services-block__nav-item img {
  margin-right: 15px;
}

.services-block__nav-item, .services-block__sub-nav-item {
  display: block;
  margin-bottom: 15px;
}

.services-block__nav-item {
  color: #0538a1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.services-block__sub-nav-item {
  color: #212126;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.promo-cert {
  background: url("/images/index/promo-cert-bg.png") 45% 0 no-repeat, -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #4ADB9A), to(#0070C9));
  background: url("/images/index/promo-cert-bg.png") 45% 0 no-repeat, linear-gradient(90deg, #4ADB9A -2.51%, #0070C9 100%);
  border-radius: 10px;
  padding: 75px 0;
  color: white;
}

.promo-cert__incredible {
  font-size: 36px;
  font-weight: 200;
  line-height: 115%;
}

.promo-cert__x2 {
  font-size: 144px;
  color: #f2c94c;
  font-weight: 700;
  display: inline-block;
  margin-top: -105px;
  margin-left: 110px;
  margin-bottom: 70px;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.advantages-block .advantages-block__title {
  margin-bottom: 90px;
  text-align: center;
}
.advantages-block h3, .advantages-block .h3 {
  color: #0070c9;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.object-selector {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #0538A122), to(#4ADB9A22));
  background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%);
}
.object-selector p:not(:last-of-type) {
  margin-bottom: 3rem;
}

.object-selector__nav {
  display: -webkit-box;
  display: flex;
  width: 100%;
  list-style: none;
  font-weight: bold;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.object-selector__nav-item_active {
  color: #cbd0d8;
  position: relative;
}
.object-selector__nav-item_active:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #0538a1;
  z-index: -1;
  top: -16px;
  left: -18px;
}

.object-selector__nav-item_disabled {
  color: #cbd0d8;
  pointer-events: none;
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.certificates-block {
  background: rgba(203, 208, 216, 0.2);
}

.certificates-block__img {
  box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
}

.certificates-block__cert-desc, .certificates-block__slider-controls {
  margin-top: -140px;
}

.certificates-block__slider-controls {
  position: relative;
  z-index: 5;
}

.certificates-block__swiper-container {
  overflow: visible;
}

.callback-primary-block {
  padding: 75px 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #0538A1), to(#0070C9));
  background: linear-gradient(90deg, #0538A1 -2.51%, #0070C9 100%);
  color: white;
}

.clients-block {
  background: rgba(203, 208, 216, 0.2);
}

.client-card {
  background: #FFFFFF;
  box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  height: 190px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.client-card__image {
  max-width: 75%;
}

.feedback-block {
  padding: 100px 0;
}

.list {
  list-style: none;
  display: -webkit-box;
  display: flex;
  padding-top: 36px;
  padding-bottom: 52px;
  padding-left: 0;
  font-size: 14px;
  font-family: "Navigo";
}
.list .list__item::before {
  content: "\2014";
  margin: 0 30px;
  color: #0538a1;
}
.list .list__item:first-of-type::before {
  content: none;
}
.list .list__item:last-of-type {
  color: #cbd0d8;
}
.list .list__item:last-of-type::before {
  color: #cbd0d8;
}
.list .list__link {
  color: #0538a1;
}

.footer {
  background: #0070c9;
  color: white;
}
.footer .footer__wrapper {
  padding-top: 112px;
  padding-bottom: 100px;
}
.footer .footer__dev-link {
  padding: 22px 0;
  background: -webkit-gradient(linear, left top, right top, from(#0070C9), to(#0538A1));
  background: linear-gradient(90deg, #0070C9 0%, #0538A1 100%);
}
.footer .footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-list .footer-list__item {
  margin-bottom: 12px;
}
.footer .footer-list .footer-list__item:last-of-type {
  margin-bottom: 0px;
}
.footer .footer-list .footer-list__link {
  color: white;
}
.footer .footer-social {
  font-size: 18px;
  margin-top: 68px;
}
.footer .footer-social .footer-social__link {
  color: white;
}
.footer .footer-button {
  width: 192px;
  height: 40px;
  border-radius: 10px;
  background: #f2c94c;
  border: none;
}
.footer .footer-button i {
  margin-right: 5px;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.slider-controls {
  display: -webkit-box;
  display: flex;
}

.slider-controls__prev, .slider-controls__next {
  padding: 18px;
}
.slider-controls__prev:after, .slider-controls__next:after {
  content: "";
  display: block;
  background: url("/images/index/icon-arrow-left.svg") no-repeat;
  width: 20px;
  height: 20px;
}
.slider-controls__prev.swiper-button-disabled, .slider-controls__next.swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}

.slider-controls__prev {
  border-radius: 10px 0 0 10px;
}

.slider-controls__next {
  border-radius: 0 10px 10px 0;
}
.slider-controls__next:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-ExtraLight.eot");
  src: local("Navigo ExtraLight"), local("Navigo-ExtraLight"), url("/fonts/Navigo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-ExtraLight.woff2") format("woff2"), url("/fonts/Navigo-ExtraLight.woff") format("woff"), url("/fonts/Navigo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Thin.eot");
  src: local("Navigo Thin"), local("Navigo-Thin"), url("/fonts/Navigo-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Thin.woff2") format("woff2"), url("/fonts/Navigo-Thin.woff") format("woff"), url("/fonts/Navigo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Black.eot");
  src: local("Navigo Black"), local("Navigo-Black"), url("/fonts/Navigo-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Black.woff2") format("woff2"), url("/fonts/Navigo-Black.woff") format("woff"), url("/fonts/Navigo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Medium.eot");
  src: local("Navigo Medium"), local("Navigo-Medium"), url("/fonts/Navigo-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Medium.woff2") format("woff2"), url("/fonts/Navigo-Medium.woff") format("woff"), url("/fonts/Navigo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Light.eot");
  src: local("Navigo Light"), local("Navigo-Light"), url("/fonts/Navigo-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Light.woff2") format("woff2"), url("/fonts/Navigo-Light.woff") format("woff"), url("/fonts/Navigo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Regular.eot");
  src: local("Navigo Regular"), local("Navigo-Regular"), url("/fonts/Navigo-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Regular.woff2") format("woff2"), url("/fonts/Navigo-Regular.woff") format("woff"), url("/fonts/Navigo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("/fonts/Navigo-Bold.eot");
  src: local("Navigo Bold"), local("Navigo-Bold"), url("/fonts/Navigo-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Navigo-Bold.woff2") format("woff2"), url("/fonts/Navigo-Bold.woff") format("woff"), url("/fonts/Navigo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.article-card {
  background: #FFFFFF;
  box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
  position: relative;
}
.article-card:hover .article-card__img {
  position: relative;
}
.article-card:hover .article-card__img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-26.56%, rgba(74, 219, 154, 0)), color-stop(122.85%, #0538A1)), url(image.png);
  background: linear-gradient(0deg, rgba(74, 219, 154, 0) -26.56%, #0538A1 122.85%), url(image.png);
}

.article-card__date {
  position: absolute;
  top: 22px;
  left: 28px;
  font-weight: bold;
  color: white;
  z-index: 5;
}

.article-card__img {
  height: 256px;
  background-size: cover;
}

.article-card__title {
  padding: 12px 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  height: 150px;
  background: rgba(5, 56, 161, 0.97);
  margin: -80px 10px 10px;
  position: relative;
  z-index: 5;
}

.article-card__text {
  padding: 10px 25px 25px;
  font-size: 14px;
  font-weight: 300;
}

.blog-block {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #0538A133), to(#4ADB9A33));
  background: linear-gradient(90deg, #0538A133 -2.51%, #4ADB9A33 100%);
}

.index__entry-block {
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(40%, transparent)), url("/images/index/entry-bg.jpg");
  background-image: linear-gradient(to right, white 0%, transparent 40%), url("/images/index/entry-bg.jpg");
}

.index__entry-block-img {
  height: 420px;
}

.project__splitter {
  margin: 70px 0;
}

.project__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project__list .list__item {
  margin-bottom: 36px;
}

.project__header {
  font-size: 24px;
}

.project__review {
  box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 10px 10px;
  margin-bottom: 100px;
}
.project__review .review__image {
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
}
.project__review .review__image img {
  border-radius: 10px;
}
.project__review .review__gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(134.49deg, rgba(193, 196, 215, 0.6) -10.84%, rgba(193, 196, 215, 0) 46.31%);
  position: absolute;
  border-radius: 10px;
}
.project__review .review__date {
  position: absolute;
  left: 28px;
  top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #0538a1;
}
.project__review .review__text {
  background: #0538a1;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 22px 43px 24px 32px;
  margin-right: 15px;
}
.project__review .review__stars {
  color: #f2c94c;
  font-size: 27px;
  margin-top: 15px;
}
.project__review .review__autor {
  line-height: 177%;
}